<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.SetmealMapper">


    <insert id="insert" useGeneratedKeys = "true" keyProperty = "id">
        insert into setmeal
        (category_id,description,name,price,image,status,create_time,update_time,create_user,update_user)
        values
        (#{categoryId},#{description},#{name},#{price},#{image},#{status},#{createTime},#{updateTime},#{createUser},#{updateUser})
    </insert>


    <select id="page" resultType="com.sky.vo.SetmealVO">
        select s.id,s.category_id,s.name,s.price,s.status,s.description,s.image,s.update_time,c.name as categoryName
        from setmeal as s left join category as c on s.category_id = c.id
        <where>
            <if test="categoryId != null">
                and s.category_id = #{categoryId}
            </if>
            <if test="name != null">
                and s.name like concat('%',#{name},'%')
            </if>
            <if test="status != null">
                and s.status = #{status}
            </if>
        </where>
        order by s.update_time desc
    </select>


    <resultMap id="setmealVoResultMap" type="com.sky.vo.SetmealVO">
        <id column="id" property="id"/>
        <result column="category_id" property="categoryId"/>
        <result column="name" property="name"/>
        <result column="price" property="price"/>
        <result column="status" property="status"/>
        <result column="description" property="description"/>
        <result column="image" property="image"/>
        <result column="update_time" property="updateTime"/>
        <result column="categoryName" property="categoryName"/>

        <collection property="setmealDishes" ofType="com.sky.entity.SetmealDish">
            <id column="sd_id" property="id"/>
            <result column="sd_dish_id" property="dishId"/>
            <result column="sd_name" property="name"/>
            <result column="sd_price" property="price"/>
            <result column="sd_setmeal_id" property="setmealId"/>
            <result column="sd_copies" property="copies"/>
        </collection>
    </resultMap>
    <!--    上面是自动配置的封装-->
    <select id="getInfoById" resultMap="setmealVoResultMap">
        select s.*,c.name as categoryName,
               sd.id as sd_id, sd.name as sd_name, sd.dish_id as sd_dish_id,
               sd.price as sd_price, sd.setmeal_id as sd_setmeal_id, sd.copies as sd_copies
        from setmeal as s
            left join setmeal_dish as sd on s.id=sd.setmeal_id
            left join category as c on s.category_id=c.id
        where s.id=#{id}
    </select>




    <delete id="deleteBatchIds">
        delete from setmeal where id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>




    <update id="update">
        update setmeal
        <set>
            <if test="categoryId != null">
                category_id = #{categoryId},
            </if>

            <if test="description != null">
                description = #{description},
            </if>

            <if test="name != null">
                name = #{name},
            </if>

            <if test="price != null">
                price = #{price},
            </if>

            <if test="image != null">
                image = #{image},
            </if>

            <if test="status != null">
                status = #{status},
            </if>

            <if test="updateUser != null">
                update_user = #{updateUser},
            </if>

            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>

        </set>
        where id=#{id}
    </update>
</mapper>
