<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.SetmealMapper">


    <insert id="insert" useGeneratedKeys = "true" keyProperty = "id">
        insert into setmeal
        (category_id,description,name,price,image,status,create_time,update_time,create_user,update_user)
        values
        (#{categoryId},#{description},#{name},#{price},#{image},#{status},#{createTime},#{updateTime},#{createUser},#{updateUser})
    </insert>


    <select id="page" resultType="com.sky.vo.SetmealVO">
        select s.id,s.category_id,s.name,s.price,s.status,s.description,s.image,s.update_time,c.name as categoryName
        from setmeal as s left join category as c on s.category_id = c.id
        <where>
            <if test="categoryId != null">
                and s.category_id = #{categoryId}
            </if>
            <if test="name != null">
                and s.name like concat('%',#{name},'%')
            </if>
            <if test="status != null">
                and s.status = #{status}
            </if>
        </where>
        order by s.update_time desc
    </select>


    <delete id="deleteBatchIds">
        delete from setmeal where id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

</mapper>
